*{
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif,'Inter';
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif,'Inter';
}

.sticky-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0px 20px;
}
.arrow-icon {
    font-size: 0.8em; /* Adjust the font size as needed */
    margin-left: 8px;
}

.nav-left,
.nav-middle,
.nav-right {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 30px;
    margin-left: 80px;
}

.logo img {
    width: 180px; /* Adjust the width of the logo */
}

.nav-middle a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
    font-weight: lighter;
    color: black;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.nav-middle a:hover {
    color: #5D5757; /* Change the color on hover as needed */
}

.nav-right a {
    color: black;
    text-decoration: none;
    margin-right: 30px; /* Adjust spacing between icons */
    transition: color 0.3s;
}

.nav-right a:hover {
    color: #5D5757; /* Change the color on hover as needed */
}

#changingText {
  overflow: hidden;
  height: 1em;
  background-color: #CDF3E1;
  color: black;
  padding: 0.1em;
  border-radius: 0.2em;
  transition: height 0.5s ease-in-out;
}
.signup-btn {
    background-color: #00C75E;
    border: none;
    margin-left: 100px;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
}

.demo-btn {
  margin-left:10px;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  background: white;
  color: #5D5757; /* Change the color on hover as needed */
  transition: background-color 0.3s;
}


.signup-btn:hover {
    background-color: #019848; /* Change the background color on hover as needed */
}
.header h1{
  font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    margin-left: 100px;
    margin-top: 50px;
}

.header h4{
  font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 20px;
    font-weight: 100;
    
}
.header p{
  font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #5D5757;
    margin-left: 100px;
    margin-top: 15px;
    font-weight: 100;
    
}

.header .demo-btn{
  margin-top: 40px;
    
}

.hero-containers {
  margin-top: 50px;
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px; /* or any max-width or % based on design */
  width: 100%;
}

.cards{
  
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 30%; /* Adjust based on the actual design */
}

.cards img {
  max-width: 100%;
  height: auto;
}

.service-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1400px; /* or any max-width or % based on design */
  width: 100%;
  margin-bottom: 200px;
}

.service {
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 30%; /* Adjust based on the actual design */
}


.website{
margin-left: 100px;
}
.website img{
  width: 30px;
}

.website h2{
  margin-top: 10px;
}
.website h2:hover{
 color: green;
}
.website p{
  margin-top: 10px;
}



.form{
  margin-left: 100px;
  }
  .form img{
    width: 30px;
  }
  .form h2{
    margin-top: 10px;
  }
  .form h2:hover{
   color: green;
  }
  .form p{
    margin-top: 10px;
  }


  .subscription{
    margin-left: 100px;
    }
    .subscription img{
      width: 30px;
    }
    .subscription h2{
      margin-top: 10px;
    }
    .subscription h2:hover{
     color: green;
    }
    .subscription p{
      margin-top: 10px;
    }


.service img {
  max-width: 100px;
  height: auto;
}

h2 {
  color: #333;
}

p {
  color: #666;
}

a {
  text-decoration: none;
  color: #0000EE; /* default link color */
  font-weight: bold;
}

/* Responsive Design: Example for smaller screens */
@media (max-width: 768px) {
  .service-container {
    flex-direction: column;
  }
  .service {
    width: 100%;
  }
}